@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --primary-color: #ff69b4;
    --secondary-color: #5c4db1;
    --white: #ffffff;
    --gradient-primary: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    --gradient-secondary: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.login-details {
    width: 50%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background: var(--gradient-secondary);
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-header {
    color: var(--white);
    background: var(--gradient-primary);
    padding: 15px 25px;
    border-radius: 20px;
}

.heading {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    text-align: center;
}

.form-container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.item {
    gap: 10px;
    display: grid;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="submit"],
input[type="button"] {
    width: calc(100% - 16px);
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
    border: 5%;
    outline: none;
    transition: all 0.3s ease;
}

.login-details>h3 {
    font-size: 24px;
    color: var(--secondary-color);
}

.login-inputs {
    width: 100%;
    color: white;
}

.sub-heading {
    font-size: 18px;
    color: var(--secondary-color);
}

.main-heading {
    font-size: 32px;
    color: var(--primary-color);
}

.header {
    margin-top: 5%;
    display: grid;
    gap: 1.5rem;
}

#login {
    background-color: #ff69b4;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#login:hover {
    background-color: #ff1493;
    transform: scale(1.1);
}
